# Virtual environments
/venv
.venv/
venv/

# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
.python-version

# Build outputs
build/
dist/

# IDE/Editor
.idea/
.vscode/

# Logs
*.log

# Binary artifacts
*.so

# NN weights (do not commit large model files)
NN/*.pth
NN/*.pt
NN/*.onnx
NN/*.bin
