# Virtual environments
/venv
.venv/
venv/

# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
.python-version

# Build outputs
build/
dist/

# IDE/Editor
.idea/
.vscode/

# Logs
*.log

# Binary artifacts
*.so
